<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="ViewerCategory"
            id="ViewerCategory">
      </category>
      <view
            name="IssuesViewer"
            icon="icons/sample.gif"
            category="ViewerCategory"
            class="com.bitstunnel.jectools.views.IssuesViewer"
            id="com.bitstunnel.jectools.views.IssuesViewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.bitstunnel.JECTools.ViewerCategory"
            name="ViewerCatergory">
      </category>
      <command
            categoryId="com.bitstunnel.JECTools.ViewerCategory"
            id="com.bitstunnel.JECTools.openIssuesViewerCmd"
            name="openIssuesViewer">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.bitstunnel.JECTools.ViewerMenu"
               label="JECTtools"
               mnemonic="V">
            <command
                  commandId="com.bitstunnel.JECTools.openIssuesViewerCmd"
                  icon="icons/sample.gif"
                  label="Open Issues Viewer"
                  mnemonic="O"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="com.bitstunnel.JECTools.perspective">
                  </equals>
               </with>
            </visibleWhen>d="com.bitstunnel.JECTools.toolbars.openIssueViewer"
               label="Open Issues Viewer">
		</menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.bitstunnel.jectools.perspective.PerspectiveFactory"
            icon="icons/sample.gif"
            id="com.bitstunnel.JECTools.perspective"
            name="JECTools">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.bitstunnel.jectools.views.openIssueViewerHandler"
            commandId="com.bitstunnel.JECTools.openIssuesViewerCmd">
         <activeWhen>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="com.bitstunnel.JECTools.perspective">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeWorkbenchWindow.activePerspective">
               <equals
                     value="com.bitstunnel.JECTools.perspective">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
